<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="assets/css/bootswatch-theme-lux.min.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
  </head>
  <body>
    <!-- Formulario de Login -->
    <div id="app" class="container-fluid mt-4">
      <h1 class="text-center">{{ title }}</h1>

      <div class="row justify-content-center">

        <div class="col-md-6">
          <img src="assets/img/banner.jpg" alt="" class="banner">
        </div>

        <div class="col-md-4">
          <div class="p-5 text-white bg-info">
            <fieldset>
              <legend>Login</legend>

              <div class="form-group">
                <label for="exampleInputEmail1">Nombre de usuario o email</label>
                <input type="text" class="form-control" v-model="name"
                id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" autocomplete="off">

                <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" v-model="pass" class="form-control"
                id="exampleInputPassword1" placeholder="Password">
              </div>

              <p>¿No tienes cuenta? <b><a href="register.html">registrate.</a></b></p>

              <button @click="validar()" class="btn btn-primary btn-block" id="btn">
                Submit
              </button>

            </fieldset>
          </div>
        </div>

      </div>
    </div>


    <!-- Scripts -->
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/sweetalert2@9.js"></script>
    <script src="assets/js/jquey-3.5.1.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
